In [1]:
f=open("data.txt",'w')

In [2]:
f=open("data1.txt",'r')

IOError: [Errno 2] No such file or directory: 'data1.txt'

In [3]:
f=open("data2.txt",'a')

In [5]:
f=open("data.txt",'w')
data = "this is the firstt stament including in the file"
f.write(data)

In [6]:
f.close()

In [7]:
f=open("data.txt",'w')

In [8]:
f=open("data.txt",'w')
f.write("sdfsd fsdf sdf dsf sdf sdf sd")

In [9]:
f.close()

In [10]:
f=open("data.txt",'a')
f.write("\n added in the append mode")
f.close()

In [11]:
f=open("data.txt",'a')
data=['emp1','emp2','emp3','emp4']
f.write(data)
f.close()

TypeError: expected a string or other character buffer object

In [12]:
f=open("data.txt",'a')
data=['emp1','emp2','emp3','emp4']
f.writelines(data)
f.close()

In [13]:
f=open("data.txt",'a')
data=['emp1','emp2','emp3','emp4']
data_str = "".join(data)
f.write(data_str)
f.close()

In [14]:
f.write("some data want to write after close")

ValueError: I/O operation on closed file

In [15]:
f=open("data.txt",'w')
f.write("data in to file")

In [16]:
f.flush()

In [17]:
f.writelines(['str1','str2','str3','str4'])

In [18]:
f.flush()

In [19]:
data=['emp1','emp2','emp3','emp4']
data_str = "".join(data)

In [20]:
data_str

'emp1emp2emp3emp4'

In [21]:
type(data_str)

str

In [22]:
f=open("data.csv",'w')
import random
ages=range(23,50)
for i in range(100):
    age=random.choice(ages)
    f.write("%s,name%s,%s"%(i,i,age))
f.close()

In [23]:
f=open("data.csv",'w')
import random
ages=range(23,50)
for i in range(100):
    age=random.choice(ages)
    f.write("%s,name%s,%s\n"%(i,i,age))
f.close()

In [24]:
f=open('data2.csv','r')

IOError: [Errno 2] No such file or directory: 'data2.csv'

In [25]:
f=open('data.csv','r')
data = f.read()
print data

0,name0,34
1,name1,46
2,name2,45
3,name3,47
4,name4,46
5,name5,30
6,name6,45
7,name7,23
8,name8,45
9,name9,30
10,name10,24
11,name11,26
12,name12,39
13,name13,45
14,name14,26
15,name15,27
16,name16,35
17,name17,48
18,name18,39
19,name19,30
20,name20,43
21,name21,40
22,name22,41
23,name23,25
24,name24,47
25,name25,45
26,name26,43
27,name27,31
28,name28,29
29,name29,36
30,name30,44
31,name31,38
32,name32,41
33,name33,25
34,name34,26
35,name35,35
36,name36,26
37,name37,43
38,name38,31
39,name39,28
40,name40,35
41,name41,34
42,name42,39
43,name43,38
44,name44,47
45,name45,32
46,name46,23
47,name47,43
48,name48,25
49,name49,30
50,name50,44
51,name51,28
52,name52,34
53,name53,40
54,name54,23
55,name55,35
56,name56,35
57,name57,42
58,name58,36
59,name59,43
60,name60,38
61,name61,39
62,name62,39
63,name63,28
64,name64,32
65,name65,29
66,name66,29
67,name67,37
68,name68,39
69,name69,34
70,name70,23
71,name71,39
72,name72,49
73,name73,24
74,name74,23
75,name75,44
76,name76,34
77,name77,38
78,name78,25
79,name79,43
80,name80,27
81,name81,27
82,name82,39
83,name83,37
84,name84,41
85,name85,42
86,name86,36
87,name87,49
88,name88,46
89,name89,27
90,name90,37
91,name91,31
92,name92,48
93,name93,42
94,name94,23
95,name95,49
96,name96,45
97,name97,41
98,name98,35
99,name99,27

In [26]:
data

'0,name0,34\n1,name1,46\n2,name2,45\n3,name3,47\n4,name4,46\n5,name5,30\n6,name6,45\n7,name7,23\n8,name8,45\n9,name9,30\n10,name10,24\n11,name11,26\n12,name12,39\n13,name13,45\n14,name14,26\n15,name15,27\n16,name16,35\n17,name17,48\n18,name18,39\n19,name19,30\n20,name20,43\n21,name21,40\n22,name22,41\n23,name23,25\n24,name24,47\n25,name25,45\n26,name26,43\n27,name27,31\n28,name28,29\n29,name29,36\n30,name30,44\n31,name31,38\n32,name32,41\n33,name33,25\n34,name34,26\n35,name35,35\n36,name36,26\n37,name37,43\n38,name38,31\n39,name39,28\n40,name40,35\n41,name41,34\n42,name42,39\n43,name43,38\n44,name44,47\n45,name45,32\n46,name46,23\n47,name47,43\n48,name48,25\n49,name49,30\n50,name50,44\n51,name51,28\n52,name52,34\n53,name53,40\n54,name54,23\n55,name55,35\n56,name56,35\n57,name57,42\n58,name58,36\n59,name59,43\n60,name60,38\n61,name61,39\n62,name62,39\n63,name63,28\n64,name64,32\n65,name65,29\n66,name66,29\n67,name67,37\n68,name68,39\n69,name69,34\n70,name70,23\n71,name71,39\n72,name72,49\n73,name73,24\n74,name74,23\n75,name75,44\n76,name76,34\n77,name77,38\n78,name78,25\n79,name79,43\n80,name80,27\n81,name81,27\n82,name82,39\n83,name83,37\n84,name84,41\n85,name85,42\n86,name86,36\n87,name87,49\n88,name88,46\n89,name89,27\n90,name90,37\n91,name91,31\n92,name92,48\n93,name93,42\n94,name94,23\n95,name95,49\n96,name96,45\n97,name97,41\n98,name98,35\n99,name99,27\n'

In [27]:
type(data)

str

In [28]:
for i in data:
    print i
    break

0

In [29]:
data_list = data.split("\n")

In [31]:
data_list[0]

'0,name0,34'

In [32]:
data_list[1]

'1,name1,46'

In [33]:
for i in data_list:
    print i
    break

0,name0,34

In [34]:
l=['c','cpp','php','python']
for i in l:
    print i

c
cpp
php
python

In [35]:
l=['c','cpp','php','python']
for i in l:
    print l[i]

TypeError: list indices must be integers, not str

In [37]:
f=open('data.csv','r')
data = f.read()
print type(data)
print data[0]
f.close()

<type 'str'>
0

In [38]:
f=open('data.csv','r')
data = f.readlines()
print type(data)
print data[0]
f.close()

<type 'list'>
0,name0,34

In [41]:
for rec in data:
    print rec.split(',')[-1]
    if rec.split(',')[-1]=='34':
        print rec

34

46

45

47

46

30

45

23

45

30

24

26

39

45

26

27

35

48

39

30

43

40

41

25

47

45

43

31

29

36

44

38

41

25

26

35

26

43

31

28

35

34

39

38

47

32

23

43

25

30

44

28

34

40

23

35

35

42

36

43

38

39

39

28

32

29

29

37

39

34

23

39

49

24

23

44

34

38

25

43

27

27

39

37

41

42

36

49

46

27

37

31

48

42

23

49

45

41

35

27

In [43]:
for rec in data:
    print rec
    print rec.split(',')[-1]
    if rec.split(',')[-1]=='34':
        print rec
    break

0,name0,34

34

In [44]:
rec

'0,name0,34\n'

In [45]:
rec.split(',')[-1]

'34\n'

In [46]:
print rec

0,name0,34

In [47]:
print rec.split(',')[-1]

34

In [49]:
for rec in data:
    print rec
    age = rec.split(',')[-1]
    age = age.strip('\n')
    if age=='34':
        print rec
    break

0,name0,34

0,name0,34

In [50]:
for rec in data:
    age = rec.split(',')[-1]
    age = age.strip('\n')
    if age=='34':
        print rec

0,name0,34

41,name41,34

52,name52,34

69,name69,34

76,name76,34