In [1]:
emp_names = "ashok, anil, jagadish"
emp_names = emp_names+", Samba"

In [2]:
emp_names

'ashok, anil, jagadish, Samba'

In [3]:
l=['ashok', 'anil', "jagadish"]

In [4]:
l.append("samba")

In [5]:
l

['ashok', 'anil', 'jagadish', 'samba']

In [7]:
emp_names

'ashok, anil, jagadish, Samba'

In [8]:
for name in emp_names:
    print name
    break

a

In [9]:
for i in l:
    print i
    break

ashok

In [10]:
l

['ashok', 'anil', 'jagadish', 'samba']

In [11]:
l[0]

'ashok'

In [12]:
l[-1]

'samba'

In [13]:
l[1:4]

['anil', 'jagadish', 'samba']

In [14]:
l[0::2]

['ashok', 'jagadish']

In [15]:
l[::-1]

['samba', 'jagadish', 'anil', 'ashok']

In [16]:
l

['ashok', 'anil', 'jagadish', 'samba']

In [17]:
l[0]

'ashok'

In [18]:
l[0]="ashok kumar"

In [19]:
l

['ashok kumar', 'anil', 'jagadish', 'samba']

In [20]:
emp_names

'ashok, anil, jagadish, Samba'

In [21]:
emp_names[0]="A"

TypeError: 'str' object does not support item assignment

In [22]:
l=[1,1.2,"str",1+2j,[10,20,30,[200,300,400],500]]

In [23]:
l[2]

'str'

In [24]:
l[4]

[10, 20, 30, [200, 300, 400], 500]

In [25]:
l[4][0]

10

In [26]:
l[4]

[10, 20, 30, [200, 300, 400], 500]

In [27]:
l[4][-2]

[200, 300, 400]

In [28]:
l[4][3]

[200, 300, 400]

In [29]:
l[4][3][1]

300

In [30]:
l[4][-2][-2]

300

In [32]:
l[-1][-2][-2]

300

In [33]:
l.index(300)

ValueError: 300 is not in list

In [34]:
l=[10,20,30,40]

In [35]:
l.index(10)

0

In [36]:
l.index(20)

1

In [37]:
l=[10,20,30,[100,200],[300,400]]

In [38]:
l.index(300)

ValueError: 300 is not in list

In [39]:
300 in l

False

In [40]:
10 in l

True

In [41]:
20 in l

True

In [42]:
l.index(20)

1

In [43]:
l

[10, 20, 30, [100, 200], [300, 400]]

In [44]:
[100,200] in l

True

In [45]:
l.index([100,200])

3

In [46]:
def get_volumes():
    return [[1],[2],[3]]
vols = get_volumes()

In [47]:
vols

[[1], [2], [3]]

In [48]:
def get_volumes():
    return [[1],[2],[3]]
vols = get_volumes()
if 1 in vols:
    print "id found"
else:
    print "id not found"

id not found

In [49]:
def get_volumes():
    return [1,2,3]
vols = get_volumes()
if 1 in vols:
    print "id found"
else:
    print "id not found"

id found

In [50]:
l=[10,20,30,4]
len(l)

4

In [51]:
l=[10,20,[30,40,50,60]]

In [52]:
len(l)

3

In [53]:
l

[10, 20, [30, 40, 50, 60]]

In [54]:
del l[0]

In [55]:
l

[20, [30, 40, 50, 60]]

In [56]:
del l[:2]

In [57]:
l

[]

In [58]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l3=l1
l4=[1,2,3,4]

In [59]:
print l1
print l3
print l4
print l2

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[5, 6, 7, 8]

In [60]:
l3[0]=100

In [62]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l3=l1
l5=l1
l6=l5
l7=l3
l4=[1,2,3,4]

In [63]:
l6[0]=100

In [65]:
print l6

[100, 2, 3, 4]

In [66]:
print l1

[100, 2, 3, 4]

In [67]:
l1=[1,2,3,4]
l2=['a',1+2j,[1,2,3,4],12.34]

In [68]:
l1+l2

[1, 2, 3, 4, 'a', (1+2j), [1, 2, 3, 4], 12.34]

In [69]:
l1-l2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [70]:
l1*l2

TypeError: can't multiply sequence by non-int of type 'list'

In [71]:
l1/l2

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [72]:
l1

[1, 2, 3, 4]

In [73]:
l2

['a', (1+2j), [1, 2, 3, 4], 12.34]

In [74]:
l2+1

TypeError: can only concatenate list (not "int") to list

In [75]:
l1

[1, 2, 3, 4]

In [76]:
l1+"str1"

TypeError: can only concatenate list (not "str") to list

In [77]:
l1*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [79]:
print "*********************************************"
print 12+20
print "*********************************************"

*********************************************
32
*********************************************

In [80]:
print "*"*30
print 12+20
print "*"*30

******************************
32
******************************

In [81]:
print l1/2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [82]:
n1="Ashok"
n2="Anil"
n3="Pavan"
l=[n1,n2,n3]

In [83]:
print l

['Ashok', 'Anil', 'Pavan']

In [84]:
l=['n1','n2','n3']

In [85]:
l

['n1', 'n2', 'n3']

In [86]:
l=['php','java','c','cpp','html','css','js']
nl = raw_input("Enter language: ")
print l+nl

Enter language: python

TypeError: can only concatenate list (not "str") to list

In [87]:
l=['php','java','c','cpp','html','css','js']
nl = raw_input("Enter language: ")
print l+list(nl)

Enter language: python
['php', 'java', 'c', 'cpp', 'html', 'css', 'js', 'p', 'y', 't', 'h', 'o', 'n']

In [88]:
list("python")

['p', 'y', 't', 'h', 'o', 'n']

In [89]:
l=['php','java','c','cpp','html','css','js']
nl = raw_input("Enter language: ")
print l+[nl]

Enter language: python
['php', 'java', 'c', 'cpp', 'html', 'css', 'js', 'python']

In [90]:
l=[1,2,3,4]

In [92]:
l2=l+[10]
print l
print l2

[1, 2, 3, 4]
[1, 2, 3, 4, 10]

In [93]:
l2=l.append(10)
print l
print l2

[1, 2, 3, 4, 10]
None

In [94]:
def add(a,b):
    c=a+b
c1=add(10,20)
print c1

None

In [95]:
l=['a','b','c','d']
l.append("python")
print l

['a', 'b', 'c', 'd', 'python']

In [96]:
l=['a','b','c','d']
l2=l.append("python")

for i in l2:
    print i

TypeError: 'NoneType' object is not iterable

In [97]:
for i in None:
    print i

TypeError: 'NoneType' object is not iterable

In [98]:
l

['a', 'b', 'c', 'd', 'python']

In [99]:
l.pop()

'python'

In [100]:
l

['a', 'b', 'c', 'd']

In [101]:
l2=l.pop()

In [102]:
l=['c','cpp','python']
l.pop()

'python'

In [103]:
l

['c', 'cpp']

In [104]:
l=['c','cpp','python']
lang = l.pop()

In [105]:
lang

'python'